
.mtab_table {
	width: 1000px;
	margin: 0 auto;
	height: 500px;
	margin-bottom: 20px;
}

.ment_td {
	width: 150px;
	text-align: center;
	border: none;
}

.ment_td ul {
	width: 100%;
	margin-top: 10px;
}

.ment_td ul li {
	height: 40px;
	line-height: 40px;
	position: relative;
}

.ment_td span {
	font-size: 24px;
	display: inline-block;
	width: 30px;
	position: absolute;
	top: -1px;
	color: #333;
}

.title_td {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	color: #FF9000;
	border-top: none;
	padding-left: 20px;
}

.matter_div {
	width: 100%;
	margin-top: 20px;
}

.selected {
	color: #FF6600;
}

.orderTable {
	width: 98%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

.orderTable th {
	border: none;
	height: 35px;
	background-color: #F2F2F2;
	font-weight: normal;
	margin-bottom: 20px;
}

.orderTable td {
	border-left: none;
	border-right: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.operate {
	width: 80px;
	height: 30px;
	display: inline-block;
}

.userinfo_table {
	margin: 30px 0 0 30px;
	border: none;
	text-align: left;
}

.userinfo_table td {
	height: 40px;
	line-height: 50px;
	border: none;
}

.input_text {
	height: 25px;
	width: 200px;
}

.pass_p {
	margin: 10px auto;
}

.userinfo_table_btn {
	width: 100px;
	height: 30px;
	border: none;
	cursor: pointer;
	background-color: #FF9000;
	color: white;
}

.userinfo_table_title_btn {
	width: 80px;
	height: 25px;
	border: none;
	cursor: pointer;
	background-color: #FF9000;
	color: white;
	margin-left: 50px;
}

.matter_div {
	margin-top: 0px;
}

.orderTable {
	margin: 0;
	width: 98%;
	margin-left: 6px;
	margin-top: 6px;
}

.pack_limitedtime {
	color: #999;
	font-size: 14px;
}

.orderTable td {
	border: 1px solid #d5d5d5;
	font-size: 14px !important;
}

.leftpack {
	width: 50%;
	text-align: left;
	padding-left: 10px;
}

.pack_type {
	font-size: 15px;
}

.limitedgoods {
	font-size: 14px;
}

.col_amount {
	color: #ff6648;
	font-weight: bold;
}